.mymodal {
  display:none;
  position:fixed;
  height: 320px;
  background-color: antiquewhite;
  top: 10px;
  left: 100px;
  opacity: 90%;
  
}

.mymodal button{
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.mymodal div {
  margin-top: 60px;
  margin-left: 150px;
}